# URL de conexión (Obtenida del botón "Connect" en Atlas)
MONGO_URI=mongodb+srv://juanferja17:juanferja17@cluster0.gj9im.mongodb.net/?appName=Cluster0

# Nombre de la base de datos que se creará en tu Cluster
DB_NAME=portfolio

# Puerto donde correrá tu servidor Gin localmente
PORT=8080